<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FunWithPicker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FunWithPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Notification - FunWithPicker WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4BB26BD61BF16577000D7547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB26BEA1BF16578000D7547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB26BF51BF16578000D7547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BB26BFE1BF16578000D7547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
